.registration-page{
    padding-top: 130px;
    padding-bottom: 30px;
  }

.registration-form {
  align-items: center;
}

.registration-form-input {
  align-items: center;
}

.registration-form-input input {
  width: 370px;
}

/* @media screen and (max-width: 480px) {
  .registration-form-input input {
    width: 250px;
  }
} */
